In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Import the dataset

In [7]:
# Load the data
data = pd.read_csv('Ads_CTR_Optimisation.csv')
data.head()

   Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0     1     0     0     0     1     0     0     0     1      0
1     0     0     0     0     0     0     0     0     1      0
2     0     0     0     0     0     0     0     0     0      0
3     0     1     0     0     0     0     0     1     0      0
4     0     0     0     0     0     0     0     0     0      0

# Implementing UCB Algo

In [ ]:
# Implementing Random Selection
import random
N = 10000
d = 10
ads_selected = []
numbers_of_selections = [0] * d
sums_of_rewards = [0] * d
total_reward = 0

# Visualizing the results