In [12]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as pyplot

df = pd.read_csv("nasdaq100.csv")
df.head()

  Date;Starting (USD);Ending (USD)
0             01.01.24;16800;16500
1             01.12.23;15900;16100
2             01.11.23;15800;15300
3             01.10.23;16100;16200
4             01.09.23;16300;15700